/**
 * Helpers classes
 */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=DM Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.full-width-center {
  width: 100% !important;
  text-align: center !important;
}

.bold {
  font-weight: bold !important;
}

.hidden {
  display: none !important;
}

.width-100 {
  width: 100% !important;
}

/* Colors */
/* Fonts */
/* Breakpoints */
/* Global */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML ELEMENTS */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

h1 {
  font-size: 2rem;
  color: #D04F4F;
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: inherit;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

.search-area .search-bar {
  display: flex;
  position: relative;
  margin: 1rem 0;
}
.search-area .search-bar .icon {
  position: absolute;
  right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #E7E7E7;
}
.search-area .search-bar .search-input {
  width: 100%;
  height: 65px;
  border-radius: 5px;
  border: none;
  padding: 5px 25px;
  font-size: 18px;
  outline: none;
  padding-right: 4.1rem;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #E7E7E7;
}
.search-area .search-bar .search-input:focus {
  box-shadow: 0 0 0 1.5px #333;
}
.search-area .search-bar .search-input::placeholder {
  color: #000000;
  opacity: 0.25;
}

.search-area .advanced-search-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.search-area .advanced-search-tags .advanced-filter-tag {
  display: flex;
  color: #fff;
  height: 2.5rem;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  transition: box-shadow 0.2s ease;
}
.search-area .advanced-search-tags .advanced-filter-tag[data-list-type=listOfIngredients] {
  background-color: #3282F7;
}
.search-area .advanced-search-tags .advanced-filter-tag[data-list-type=listOfMachines] {
  background-color: #68D9A4;
}
.search-area .advanced-search-tags .advanced-filter-tag[data-list-type=listOfTools] {
  background-color: #ED6454;
}
.search-area .advanced-search-tags .advanced-filter-tag:hover {
  box-shadow: 0 0 3px 1px #D04F4F;
}
.search-area .advanced-search-tags .advanced-filter-tag .text {
  font-size: 14px;
  font-weight: 700;
  padding-left: 1rem;
}
.search-area .advanced-search-tags .advanced-filter-tag .btn-close {
  margin: 0 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  transition: color 0.2s ease;
  pointer-events: auto;
}
.search-area .advanced-search-tags .advanced-filter-tag .btn-close:hover {
  color: #D04F4F;
}

.search-area .advanced-search {
  display: flex;
  margin: 1rem 0;
  gap: 1rem;
}
.search-area .advanced-search .advanced-search-field {
  position: relative;
  border-radius: 5px;
  width: 12rem;
  min-width: 12rem;
  transition: width 0.3s linear, border-radius 0.3s linear 0.2s;
}
.search-area .advanced-search .advanced-search-field.active {
  width: 100% !important;
  border-radius: 5px 5px 0 0;
  transition: width 0.3s linear, border-radius 0.01s linear;
}
.search-area .advanced-search .advanced-search-field .search-area {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  color: #fff;
  height: 70px;
}
.search-area .advanced-search .advanced-search-field .result-area {
  position: absolute;
  top: 70px;
  height: 0;
  left: 0;
  width: 100%;
  transition: height 0.3s ease-out;
  border-radius: 0 0 5px 5px;
  z-index: 1;
  overflow-y: auto;
}
.search-area .advanced-search .advanced-search-field .result-area::-webkit-scrollbar {
  width: 10px;
}
.search-area .advanced-search .advanced-search-field .result-area::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.search-area .advanced-search .advanced-search-field .result-area::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
.search-area .advanced-search .advanced-search-field .result-area::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}
.search-area .advanced-search .advanced-search-field .result-area .result-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.1rem;
  padding: 0.5rem 1rem;
}
.search-area .advanced-search .advanced-search-field .result-area .result-content .advanced-filter-item {
  font-size: 18px;
  padding: 0.5rem;
  border-radius: 5px;
}
.search-area .advanced-search .advanced-search-field .result-area .result-content .advanced-filter-item .text {
  color: #fff;
}
.search-area .advanced-search .advanced-search-field .result-area .result-content .advanced-filter-item .btn-close {
  display: none;
}
.search-area .advanced-search .advanced-search-field .result-area .result-content .advanced-filter-item:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
}
.search-area .advanced-search .advanced-search-field .result-area .result-content .empty {
  grid-column: 1/-1;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.search-area .advanced-search .advanced-search-field .result-area.active {
  height: 20rem;
}
.search-area .advanced-search .advanced-search-field .icon {
  font-size: 1.3rem;
  padding-left: 1rem;
}
.search-area .advanced-search .advanced-search-field .advanced-filter-switch .text {
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
.search-area .advanced-search .advanced-search-field .advanced-filter-switch .input {
  width: 100%;
  background-color: transparent;
  height: 2rem;
  border: none;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
.search-area .advanced-search .advanced-search-field .advanced-filter-switch .input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.search-area .advanced-search .advanced-search-field .advanced-filter-switch .input:focus {
  outline: none;
}
.search-area .advanced-search .ingredients {
  background-color: #3282F7;
}
.search-area .advanced-search .machines {
  background-color: #68D9A4;
}
.search-area .advanced-search .tools {
  background-color: #ED6454;
}
@media screen and (max-width: 768px) {
  .search-area .advanced-search {
    flex-direction: column;
  }
  .search-area .advanced-search .advanced-search-field {
    width: 100%;
    justify-content: space-between;
  }
}

.cards-area .no-result {
  grid-column: 1/-1;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.cards-area .recipe-card {
  background-color: #E7E7E7;
  border-radius: 5px;
  min-height: 350px;
}
.cards-area .recipe-card .heading .recipe-img {
  width: 100%;
  height: 180px;
  border-radius: 5px 5px 0 0;
  display: block;
}
.cards-area .recipe-card .heading .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.cards-area .recipe-card .heading .content .title {
  font-size: 18px;
  font-weight: 400;
}
.cards-area .recipe-card .heading .content .time {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.cards-area .recipe-card .heading .content .nb-time {
  margin-left: 0.5rem;
  font-size: 18px;
  white-space: nowrap;
}
.cards-area .recipe-card .main-content {
  display: flex;
  padding: 0 1rem 1rem 1rem;
  border-radius: 0 0 5px 5px;
  gap: 1rem;
}
.cards-area .recipe-card .main-content .ingredient-list {
  flex-grow: 1;
  width: 50%;
  list-style: none;
}
.cards-area .recipe-card .main-content .ingredient-list .list-item {
  font-size: 12px;
}
.cards-area .recipe-card .main-content .recipe-summary {
  flex-grow: 1;
  font-size: 12px;
  width: 50%;
  font-family: "Roboto", sans-serif;
}

.main-header {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 2.6rem;
}
.main-header .logo {
  max-width: 50px;
  width: 100%;
}

.home {
  margin-bottom: 5rem;
}
.home .cards-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}
.home .go-to-docs .docs-link {
  position: fixed;
  top: -2.2rem;
  right: 0.9rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.116);
  color: rgb(0, 0, 0);
  border-radius: 0 0 1rem 1rem;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(3px);
  border: 1px solid rgb(143, 143, 143);
  font-weight: bold;
}
.home .go-to-docs .docs-link:hover {
  top: -0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(197, 197, 197, 0.5);
}
@media screen and (max-width: 1024px) {
  .home .cards-area {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .home .cards-area {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
