/**
 * Helpers classes
 */

.full-width-center {
    width: 100% !important;
    text-align: center !important;
}

.bold {
    font-weight: bold !important;
}

.hidden {
    display: none !important;
}

.width-100 {
    width: 100% !important;
}